@import url(./media-queries.css);

#root {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#root > header,
footer {
  width: 100%;
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root > header .title {
  margin: 1rem;
  font-size: 40px;
}

.application .title {
  margin-left: 12px;
  font-size: 34px;
}

main {
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.application {
  display: grid;
  grid-template-columns: minmax(350px, 800px);
  justify-content: center;
  position: relative;
}

p {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.inputs {
  display: grid;
  position: relative;
}

.inputs button {
  position: absolute;
  background-image: url(../svgs/delete.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
}

/* DESCRIPTION */

#jobDescription {
  resize: none;
  max-width: 99%;
  height: 100px;
  justify-self: center;
}

fieldset > button {
  width: 5rem;
  height: 2.5rem;
}

footer {
  gap: 2rem;
}

footer h1 {
  font-size: 18px;
  font-weight: 500;
}

/* BOX SHADOW */

main button {
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem rgba(134, 116, 161, 0.299);
}

/* IMAGES */

.fluidTop,
.fluidBottom {
  position: absolute;
  opacity: 80%;
}

.fluidTop {
  transform: translate(2rem, -36rem) rotate(360deg);
  filter: drop-shadow(-250px 0px 0px #1010f2da);
}

.fluidBottom {
  transform: translateY(-17rem) translateX(-10rem) rotate(155deg);
  filter: drop-shadow(-280px -100px 0px #531be154);
}

/* OUTLINE */

input:focus {
  outline-color: #6161d7;
}

/* GIT HUB ICON */

.gitHub {
  background-image: url(../assets/github.svg);
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

/* Labels */

label {
  font-weight: 600;
}

/* Input borders */

input {
  padding: 0.2rem;
  border-color: #00000097;
  border-width: 0.1rem;
  border-style: ridge;
  border-radius: 5px;
  padding-left: 0.5rem;
}

/* STACK */

#root > header,
main,
footer {
  position: relative;
  z-index: 2;
}

.fluidBottom,
.fluidTop {
  z-index: 1;
}

/* DELETE BUTTON */
button[value='delete'] {
  position: absolute;
  justify-self: end;
  margin-top: 0.8rem;
  margin-right: 20px;
}

/* SUBMIT BUTTON */

.submit {
  position: relative;
  bottom: 30px;
  right: 35px;
}

button[value='submit'] {
  margin-top: 2rem;
  padding: 1rem 3rem;
}
