#root {
  width: 100%;
}

#root > header,
footer {
  background-color: #e6e6fa;
  width: 100%;
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root > header .title {
  margin: 0;
}

.application .title {
  padding-left: 12px;
}

main {
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.application {
  display: grid;
  grid-template-columns: minmax(350px, 800px);
  justify-content: center;
  position: relative;
  z-index: 2;
}

p {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

input {
  padding: 0.2rem;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.inputs button {
  position: absolute;
  right: 20px;
  background-image: url(../svgs/delete.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}

button[visible=''] {
  display: block;
}

/* Description */

.experience .inputs p:last-of-type {
  grid-column: 1 / 3;
}

#jobDescription {
  resize: none;
  max-width: 99%;
  height: 100px;
  justify-self: center;
}

fieldset button {
  width: 5rem;
  height: 2.5rem;
  margin-left: 15px;
}

.submit {
  display: flex;
  justify-content: end;
  margin: 0.5rem;
}

button[value='submit'] {
  padding: 1rem 3rem;
  margin-right: calc(2rem - 12px);
}

footer {
  gap: 2rem;
}

footer h1 {
  font-size: 18px;
  font-weight: 500;
}

/* Box Shadow*/

#root > header {
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem rgba(134, 116, 161, 0.299);
}

footer {
  box-shadow: -0.1rem -0.1rem 0.4rem 0.1rem rgba(134, 116, 161, 0.299);
}

/* Images */

.fluidTop,
.fluidBottom {
  position: absolute;
  opacity: 80%;
  z-index: 1;
}

.fluidTop {
  transform: translate(50rem, 10rem) rotate(90deg);
}

.fluidBottom {
  transform: translateY(-20rem) translateX(-30rem) rotate(195deg);
}

/* Outline */

input:focus {
  outline-color: #6161d7;
}

/* gitHub icon */

.gitHub {
  background-image: url(../assets/github.svg);
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e6e6fa;
}
