@import url(./queries-application.css);
body {
  background-image: linear-gradient(135deg, #f5f7fa33 0%, #c3cfe247 100%);
}

#root {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* ------------------- HEADER STYLING --------------------- */

#root > header,
footer {
  width: 100%;
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.083);
}

#root > header .title {
  margin: 1rem;
  font-size: 40px;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.262);
}

.application .title {
  font-size: 34px;
}

#root > header,
footer {
  background: linear-gradient(to bottom, #9da6d1, #a8b6f6);
}

footer {
  background: linear-gradient(to top, #9da6d1, #a8b6f6);
}

#root > header,
footer {
  color: white;
}

/* ------------------- MAIN AREA STYLING --------------------- */

main {
  position: relative;
  overflow: hidden;
  grid-auto-flow: column;
}

.application {
  display: grid;
  justify-items: center;
  position: relative;
}

fieldset {
  display: grid;
}

p {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.inputs {
  display: grid;
  position: relative;
}

.inputs button {
  position: absolute;
  background-image: url(../svgs/delete.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
}

input {
  padding: 0.2rem;
  border-color: #00000097;
  border-width: 0.1rem;
  border-style: ridge;
  border-radius: 5px;
  padding-left: 0.5rem;
}

input[type='month'] {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* ------------------- TEXTAREA - JOB DESCRIPTION --------------------- */

#description {
  resize: none;
  max-width: 99%;
  height: 100px;
  justify-self: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0.5rem;
}

fieldset > button {
  width: 5rem;
  height: 2.5rem;
}

footer {
  gap: 2rem;
}

footer h1 {
  font-size: 18px;
  font-weight: 500;
}

/* ------------------- OUTLINE --------------------- */

input:focus {
  outline-color: #6161d7;
  outline-width: 0.01rem;
}

/* ------------------- LABELS --------------------- */

label {
  font-weight: 600;
}

/* ------------------- STACKING CONTEXT --------------------- */

#root > header,
footer {
  position: relative;
  z-index: 2;
}

main {
  z-index: 4;
}

.image {
  z-index: 3;
}

/* ------------------- BUTTONS --------------------- */

button[value='delete'] {
  position: absolute;
  justify-self: end;
  margin-top: 0.8rem;
  margin-right: 20px;
}

.submit {
  position: relative;
}

button[value='submit'] {
  margin-top: 2rem;
  padding: 1rem 3rem;
}

main button {
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem rgba(134, 116, 161, 0.299);
}

.gitHub {
  background-image: url(../assets/github.svg);
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

input:user-invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}
