@media (max-width: 1280px) {
  .inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  button[value='Add'] {
    margin-left: 12px;
  }

  .experience p:last-of-type {
    grid-column: 1 / 3;
  }

  .submit {
    justify-self: end;
  }
}

@media (max-width: 430px) {
  form,
  .personalInfo .inputs,
  .education .inputs,
  .experience .inputs {
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 0.5fr);
    justify-content: center;
  }
  .personalInfo,
  .education,
  .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button[value='Add'] {
    margin-left: 0px;
  }

  .experience p:last-of-type {
    grid-column: unset;
  }

  .submit {
    justify-self: center;
  }

  h1 {
    text-align: center;
  }

  label,
  input {
    font-size: 22px;
  }
}
