@media (min-width: 800px) {
  fieldset {
    grid-template-columns: 0.5fr 1fr;
    width: 100%;
  }

  .inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
  }

  button[value='Add'] {
    margin-left: 16px;
    grid-column: 2/3;
  }
  .experience p:last-of-type {
    grid-column: 1 / 3;
  }

  .submit {
    justify-self: end;
    bottom: 30px;
    right: 35px;
  }

  .application .title {
    margin-left: 12px;
  }

  label,
  input {
    font-size: 18px;
  }

  .fluidTopLeft {
    transform: translate(-40rem, -12rem) rotate(180deg);
  }
  .fluidTopRight {
    transform: translate(70rem, -12rem) rotate(180deg);
  }
  .fluidTop {
    transform: translate(2rem, -12.3rem) rotate(182deg);
  }
  /* .fluidBottom {
    bottom: 0px;
    left: 0px;
    scale: 0.3;
    transform: translateY(-17rem) translateX(-10rem) rotate(155deg);
    filter: drop-shadow(-280px -100px 0px #531be154);
  } */
}

@media (max-width: 800px) {
  fieldset {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .personalInfo .inputs,
  .education .inputs,
  .experience .inputs {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  button[value='Add'] {
    margin-left: 16px;
    grid-column: unset;
  }
}

@media (max-width: 480px) {
  fieldset {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .personalInfo .inputs,
  .education .inputs,
  .experience .inputs {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  main {
    margin: 0 0;
    padding: 0rem;
  }

  button[value='Add'] {
    position: relative;
    margin-left: 16px;
    grid-column: initial;
  }

  .experience p:last-of-type {
    grid-column: unset;
  }

  .submit {
    justify-self: center;
    bottom: 0px;
    right: 0px;
    margin-bottom: 2rem;
  }

  .application .title {
    margin-left: 0px;
  }

  h1 {
    text-align: center;
  }

  label,
  input {
    font-size: 22px;
  }

  .fluidTopLeft {
    transform: translate(-35rem, -12rem) rotate(180deg);
  }
  .fluidTopRight {
    transform: translate(70rem, -11rem) rotate(180deg);
  }
  .fluidTop {
    transform: translate(3rem, -12rem) rotate(182deg);
  }
  /* .fluidBottom {
    bottom: 0px;
    left: 0px;
    scale: 0.3;
  } */
}
