@media (max-width: 1480px) {
}

@media (max-width: 530px) {
  .personName {
    font-size: 38px;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }

  section h1 {
    margin: 1rem 0;
    font-size: 30px;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px black;
  }

  .contacts {
    flex-direction: column;
    gap: 5px;
  }

  ul {
    text-align: center;
  }

  .edit {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }

  .editBtn {
    padding: 1.2rem 2rem;
  }
}
